.App {
  text-align: center;
  margin-bottom: 200px;
}

.Form-blotTest {
  font-size: large;
}

.Image-inkBlot {
  min-width: 40%;
  max-width: 60%;
  height: auto;
  width: auto;
}

.Input-answerBox {
  width: 30%;
  padding: 10px;
  font-size: large;
}

.CommentsBox {
  text-align: left;
  width: 40%;
  margin: auto;
}

.HintPrompt {
  font-style: italic;
  opacity: 0.5;
}
